/*************************************************
                  BASE STYLES
*************************************************/

/*imports styles from google fonts*/
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

* {
  box-sizing: border-box;
  font-family: 'Montserrat', Arial, serif;
  margin: 0;
  padding: 0;
}

html {
    height: 100%;
}

body{
  height: 95%;
  background-color: #eee;
}

/*************************************************
                  NAVIGATION
*************************************************/


nav {
  height: 5%;
  text-align: center;
  padding-top: 4px;
  background-color: #646464;
}

nav a {
  text-decoration: none;
  font-size: 150%;
  padding: 0 2.5%;
  color: #54ABD8;
}

/*************************************************
                BASE PAGE LAYOUTS
*************************************************/


/*main content div on all pages except home page*/
.mainContent {
  height: 75%;
  margin: 5% 10% 0;
}

/*targets all main titles for different pages*/
.mainContent > h1 {
  text-align: center;
  /*border: 2px solid red;*/
  background-color: #5499BD;
  border-radius: 2em;
  padding: 5px 0;
  color: white;
  text-shadow: 2px 2px 3px #000;
}

/*targets the text area of pages*/
.mainContent > article {
  margin-top: 5%;
  border: 2px solid #5499BD;
  border-radius: 2em;
  box-shadow: 10px 10px 10px #9BC2CF;
  background-color: #C6E5F0;
  padding: 5%;

}


/*************************************************
                  HOME PAGE
*************************************************/


/*background image for home page*/
#homeMainDiv {
  background-image: url(img/backgroundBeach.jpg);
  margin: 5% 0;
  height: 75%;
}

/*main titles on the home page*/
#homeMainDiv h1,
#homeMainDiv h2{
  text-align: center;
  color: white;
  text-shadow: 4px 4px 6px #000;
}

#homeMainDiv h1 {
  font-size: 5em;
  padding: 10% 0 3%;

}

#homeMainDiv h2 {
  font-size: 2.5em;
}


/*************************************************
                    CARDS
*************************************************/

.trip {
  display: inline-block;
  width: 27.333%;
  margin: 1.5% 3%;
  text-align: center;
  border: 2px solid #5499BD;
  border-radius: 2em;
  box-shadow: 10px 10px 10px #9BC2CF;
  background-color: #C6E5F0;
}


/*card titles*/
.trip h1 {
  font-weight: bold;
  font-size: 150%;
  margin-top: 2.5%;
}

/*card images*/
.trip img {
  height: 50%;
  width: 50%;
  border-radius: 2em;
  margin: 5% 0 1.75%;
}

/*card descriptions*/
.trip :nth-child(3) {
margin-bottom: 2.5%;
padding: 0 5%;
}

/*card prices*/
.trip :nth-child(4) {
  font-weight: bold;
  font-size: 200%;
  margin-bottom: 5%;
}


/*************************************************
                  CONTACT PAGE
*************************************************/

#contactInfo p {
  /*border: 2px solid red;*/
  display: inline-block;
  vertical-align: top;
  font-size: 150%;
  width: 48%;
  /*margin: 0 50%;*/
}


/*************************************************
                    FOOTER
*************************************************/

#footerInfo {
  height: 5%;
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 20px 5px 0;
  color: #c4c4c4;
  font-size: 50%;
}